/* ********** Variables ********** */
:root {
    --dark: rgba(34, 40, 49, 1);
    --middle: rgba(57, 62, 70, 1);
    --lightMiddle: rgba(187, 192, 200, 1);
    --light: rgba(210, 216, 228, 1);
    --orange: rgba(214, 90, 49, 1);
    --black: rgba(0, 0, 0, 1);
}

/********* General settings *********/
* {
    font-family: 'Montserrat';
    font-weight: 300;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.orange-text {
    color: var(--orange);
}

/* ********** Navbar ********** */
#navbar-section {
    background-color: var(--middle);
    padding: 10px 17%;
}

.navbar-brand {
    font-size: 1.8rem;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-item {
    margin-left: 30px;
}

/* ********** Color transform ********** */
.transform-dark-middle {
    height: 100px;
    background: linear-gradient(var(--dark), var(--middle));
}
/* ********** Media ********** */
