/* ********** Variables ********** */
:root {
  --dark: rgba(20, 27, 37, 1);
  --middle: rgba(38, 49, 64, 1);
  --light: rgba(98, 123, 158, 1);
  --white: #ffffff;
  --black: #000000;
}
#title-section {
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: var(--middle);
    color: var(--black);
}
#pubg-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--light);
    color: var(--black);
}
#second-section {
    height: 200px;
    background-color: var(--dark);
}
.start {
    font-size: 5rem;
    font-weight: bold;
}
.header-text {
    padding-right: 25px;
}
.header-image {
    padding-left: 25px;
    padding-bottom: 75px;
    text-align: center;
}
.search-container {
    padding-top: 100px;
    padding-bottom: 75px;
}
.card {
    background-color: var(--dark);
}
/* ********** Color transform ********** */
.transform-middle-light {
    height: 75px;
    background: linear-gradient(var(--middle), var(--light));
}
.transform-light-dark {
    height: 75px;
    background: linear-gradient(var(--light), var(--dark));
}
/* ********** Media ********** */
@media only screen and (max-width: 992px) {
    .header {
        text-align: center;
    }
}